{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title |e }}</h1>
<h2>
    Flight Details
</h2>
<ul>
    <li>Airline: {{ frappe.db.get_value("Airplane", doc.airplane, "airline")}}</li>
    <li>{{ doc.source_airport_code }} → {{ doc.destination_airport_code }}</li>
	<li>{{ doc.date_of_departure }} | {{ doc.time_of_departure }}</li>
	<li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
</ul>
<a class="btn btn-info btn-md" href="/book-flight-ticket/new?flight={{ doc.name }}">
    Book Flight
</a>
{% endblock %}

<!-- this is a sample default web page template -->